# Dependências do Node.js
node_modules/

# Arquivos de ambiente
.env
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas do sistema
.DS_Store
Thumbs.db

# Diretórios de build
dist/
build/
